.occupation {
    background-color: $secondary-color;
}

.occupation--title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.occupation--list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.occupation--item {
    position: relative;
}

.occupation--img {
    display: block;
}

.occupation--lining {
    position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.occupation--name {
    padding-top: 27px;
    padding-bottom: 27px;

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $secondary-color;
}